/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c4d1dc;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: #2d343a;
    text-decoration: none;
}

a:visited {
    color: #2d343a;
}

h3 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}



/* Header Styles */

.main-header {
    font-family: 'Martian Mono', sans-serif;
    text-align: center;
    color: #2d343a;
}

.main-nav {
    text-align: center;
}

.links {
    margin-top: 10px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
}

.links a {
    transition: color 0.3s ease;
}

.links a:hover {
    color: rgba(0, 0, 0, 0.5);
}


/* Intro Styles */

.intro {
    text-align: center;
    margin-top: 50px;
    border-top: 3px dashed #747a7f;
    padding-top: 20px;
    color: #353739;
    margin-bottom: 50px;
}


/* Skill Styles */

.skills {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.skill-links {
    margin-top: 10px;
    background-color: #fed36e;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


/* Portfolio Styles */

.portfolio {
    background-color: #c4d1dc;
    margin-top: 30px;
}

#portfolio {
    text-align: center;
}

.portfolio-img {
    margin-left: 10px;
    margin-right: 10px;
}

.description {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#portfolio {
    margin-top: 50px;
}


/* Contact Styles */

.contact {
    text-align: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px outset gray;
}

/* Footer Styles */

.footer {
    border-top: 1px solid #747a7f;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.to-top a {
    transition: color 0.3s ease;
}

.to-top a:hover {
    color: rgba(0, 0, 0, 0.5);
}


/* Media Queries */

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .links {
    background-color: #c4d1dc;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
  }

  .profile-pic {
    margin-left: 10px;
  }

  .about {
    text-align: left;
    line-height: 1.5;
  }

  .row {
    flex-direction: row;
  }

  .col {
    flex: 1 50%;
  }

}