/*******************
BASE SELECTORS
*******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

p {
  font-weight: lighter;
  font-size: 0.9em;
}


h3 {
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}


a {
  text-decoration: none;
  color: #000;
}

/*******************
HEADER
*******************/

.main-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 30px;
}

.main-nav li {
  background-color: white;
  margin: 6px 10px;
  list-style-type: none;
  display: block;
  padding: 10px 0;
}

a:hover {
  color: #D4D4D4;
}

.profile-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-txt {
  margin: 0 10px;
  color: #17BEF7;
}

/*******************
PORTFOLIO
*******************/

.main-content {
  background-color: #fff;
  padding: 50px 10px;
}

.portfolio-pics {
  margin-top: 50px;
}

/*******************
ABOUT
*******************/

.about {
  margin: 0 10px 50px 10px;
}

/*******************
CONTACT
*******************/

.contact {
  margin: 0 10px 50px 10px;
  border-top: 1px #D4D4D4 solid;
}

.contact-info {
  margin-top: 30px;
}

.contact-info a {
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
}

.contact-info li.mail a {
  background-image: url('../images/mail.png');
}

.mail {
  margin-top: 10px;
}

.about-heading {
  padding: 50px 0;
}

.contact-heading {
  padding: 50px 0;
}

/*******************
FOOTER
*******************/

.main-footer {
  padding-top: 30px;
  border-top: 1px #D4D4D4 solid;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 40px;
}

.footer-nav li {
  display: none;
}

.back-top {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  float: right;
}

.footer-name {
  font-weight: bold;
  float: left;
}

/*******************
MEDIA QUERIES
*******************/

@media screen and (min-width: 768px) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .main-nav li {
    display: inline-block;
    background-color: #f4f4f4;
    margin-bottom: 20px;
  }

  .profile-img {
    float: right;
    margin: 0 20px;
  }

  .intro-txt {
    padding-top: 60px;
  }

  .portfolio-item {
    float: left;
    width: 50%;
    padding-top: 50px;
    background-color: #fff;
  }

  .back-top {
    display: none;
  }

  .footer-nav li {
    display: inline-block;
    background-color: #f4f4f4;
    margin: 0 1em;
    padding-bottom: 10px;
    font-weight: bold;
    float: right;
  }

}

@media screen and (min-width: 1024px) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .name {
    float: left;
    margin-left: 30px;
  }

  .main-nav {
    float: right;
    margin: .5em 1em;
    padding: 10px 0;
  }

  .portfolio-item {
    float: left;
    width: 32%;
    padding-top: 50px;
    background-color: #fff;
  }

}
